.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter-container {
  background-color: #f285a2;
  height: 90%;
  width: 85%;
  border-radius: 5px;
}

.letter-content {
  margin: 35px 20px 35px 20px;
  color: #594746;
  text-align: center;
}

@keyframes bouncing {
  0% {
    margin-top: 0px;
  }
  50% {
    margin-top: 20px;
  }
  100% {
    margin-top: 0px;
  }
}

.rose {
  width: 80px;
  animation-name: bouncing;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes fade-away {
  0% {
    opacity: 100%;
  }
  90% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

.curtain {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: fade-away;
  animation-duration: 3.15s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  background-color: #f2d0d7;
  position: absolute;
  z-index: 50;
}
